<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/sherm"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ShermTheme"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.approve_ca.ApproveCA"
            android:exported="false" />
        <activity
            android:name=".generic.Test"
            android:exported="false" />
        <activity
            android:name=".ui.corrective_evaluation.CorrectiveEvaluation"
            android:exported="false" />
        <activity
            android:name=".ui.add_inspection_completed.AddInspectionCompleted"
            android:exported="false" />
        <activity
            android:name=".ui.add_corrective_action.AddCorrectiveAction"
            android:exported="false" />
        <activity
            android:name=".ui.dueDate.DueDateExtendedApproval"
            android:exported="false" />
        <activity
            android:name=".ui.dueDate.DueDateExtendRequest"
            android:exported="false" />
        <activity
            android:name=".ui.corrective_action_details.CAViewActivity"
            android:exported="false" />
        <activity
            android:name=".Comment"
            android:exported="false" />
        <activity
            android:name=".ui.corrective_action.CorrectiveAction"
            android:exported="false" />
        <activity
            android:name=".ui.inspectionDetailsUI.AddInspectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.commentUI.Comment"
            android:exported="false" />
        <activity
            android:name=".ui.inspectionDetailsUI.ShowInspectionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inspectionUI.Inspection"
            android:exported="false" />
        <activity
            android:name=".ui.splashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.RemoveSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.RemoveSplashScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.dashboardUI.MainActivity"
            android:exported="false" />
    </application>

</manifest>